.animated-bg {
  width: 0;
  max-width: 65%;
  height: 150vh;
  position: fixed;
  background-color: $brand-color;
  z-index: -1;
}

.arrow.directionist {
  &.animate-arrow {
    animation: arrowdown 1.3s 3s ease-in-out;
  }
  &.done-animating {
    opacity: 1;
  }
  transform: rotate(0deg);
  opacity: 0;
  bottom: 2rem;
}

.arrow.directionist.up {
  transition: all 0.25s;
  transform: rotate(-180deg);
  &:hover {
    transform: rotate(-180deg) scale(1.04);
    transition: all 0.25s;
    cursor: pointer;
  }
}

@keyframes arrowdown {
  0% {
    bottom: calc(100% - 5rem);
    transform: rotate(180deg);
    opacity: 0.5;
  }
  99% {
    transform: rotate(0deg);
  }
  100% {
    bottom: 2rem;
    opacity: 1;
  }
}

$anim-speed: 0.5s;

.intro-text {
  span {
    display: inline-block;
    font-family: 'Cutive Mono', monospace;
    opacity: 0;
  }
  @for $i from 1 through 15 {
    span:nth-of-type(#{$i}) {
      animation: fadeup $anim-speed forwards ease-in;
      animation-delay: $anim-speed * ($i - 0.7);
    }
  }
}

@keyframes fadeup {
  0% {
    transform: translateY(4px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
