body {
  margin: 0;
  overflow-x: hidden;
}

h1,
h2 {
  font-family: $header-font;
  font-size: 3rem;
  color: $text-color;
}

h3,
h4,
h5,
h6 {
  font-size: 2rem;
  font-family: $small-header-font;
  font-weight: 400;
}

p,
li {
  font-family: $text-font;
  color: $text-color;
}

ul {
  padding-left: 1rem;
}

li {
  list-style-type: none;
}

span {
  color: $text-color;
}

nav {
  position: fixed;
  top: 2.5rem;
  right: 4rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  a {
    text-align: right;
    color: $text-color;
    font-family: $header-font;
    text-decoration: underline;
    font-size: 2.5rem;
    padding: 0 $spacer * 3;
    display: inline-block;
  }
}

html,
body,
.hero {
  /* Height and width fallback for older browsers. */
  height: 100%;
  width: 100%;

  /* Set the height to match that of the viewport. */
  height: 100vh;

  /* Set the width to match that of the viewport. */
  width: 100vw;

  /* Remove any browser-default margins. */
  margin: 0;
}

.hero {
  padding: 2rem;
  padding-left: 4rem;
  width: calc(100% - 6rem);
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  h1,
  h2 {
    margin-top: 0px;
    br {
      display: none;
    }
  }
  img {
    margin-top: $spacer * 2;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    flex: 0;
    margin-right: $spacer * 2;
    transform: scale(0);
    animation: small-to-big 1s 2.5s forwards ease-in-out;
  }
  @keyframes small-to-big {
    0% {
      transform: scale(0.2);
      opacity: 0.2;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.hero.first {
  flex-wrap: wrap;
  @media screen and (min-height: 800px) {
    height: calc(100% - 5rem);
  }
  h1 {
    z-index: 2;
  }
  .intro {
    display: flex;
  }
}

.arrow.directionist {
  position: fixed;
  right: 2rem;
  transition: all 0.25s;
  will-change: transform;
  width: 100px;
  height: 100px;

  &.light {
    display: none;
  }

  &:hover {
    transform: scale(1.04);
    transition: all 0.25s;
    cursor: pointer;
  }
}

a[data-href*='#'] {
  transition: all 0.15s ease-in-out;
  &:hover {
    cursor: pointer;
    color: lighten($text-color, 20%);
    transform: translateX(5px);
  }
}

.intro-text {
  font-size: 1.75rem;
}

.full-width {
  .arrow.directionist {
    display: none;
    &.light {
      display: block;
    }
  }
}

.hero .project {
  max-width: calc(65% - 1rem);
}

a {
  color: $text-color;
  font-family: $text-font;
  &:hover {
    color: lighten($text-color, 50%);
  }
}

.external-links {
  padding-right: 1rem;
}

.read-more {
  display: flex;
  justify-content: flex-start;
  @media screen and (min-width: 900px) {
    max-width: 65%;
  }
  flex-wrap: wrap;
  margin-top: 3rem;
  * {
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
}
