@media screen and (max-width: 900px) {
  .hero {
    padding-left: 2rem;
    width: calc(100% - 4rem);
  }

  .hero.first {
    h1 br {
      display: block;
    }
  }
  .animated-bg {
    max-width: 100%;
  }
  nav {
    top: 2rem;
    right: $spacer * 1;
    a {
      color: $brand-color-light;
      font-size: 3rem;
    }
  }

  a[data-href*='#'] {
    &:hover {
      cursor: pointer;
      color: darken($brand-color-light, 10%);
      text-decoration: underline;
    }
  }

  .arrow.directionist {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 750px) {
  .hero.first {
    flex-wrap: nowrap;
    .intro {
      flex-direction: column;
      img {
        align-self: center;
      }
    }
  }

  nav {
    background: #fff;
    padding: $spacer $spacer;
    right: 0;
    .nav-link {
      padding: 0;
      color: $text-color;
      &:hover {
        color: lighten($text-color, 20%);
      }
    }
  }

  .hero .project {
    max-width: 100%;
  }
}

@media screen and (max-width: 650px) {
  h1 {
    font-size: 1.75rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }

  .intro img {
    width: 200px;
    height: 200px;
  }

  .intro-text,
  .intro-text span {
    font-size: 1.25rem;
  }

  p,
  span {
    font-size: 1rem;
  }
  nav {
    right: 0;
    a {
      font-size: 1.5rem;
    }
  }
}
