.roboto {
  font-family: 'Roboto Mono', monospace !important;
}

.bold {
  font-weight: 700;
}

.flex {
  display: flex !important;
}

.spacer {
  padding: $spacer;
  &-y {
    padding: $spacer 0;
  }
  &-x {
    padding: 0 $spacer;
  }
}

.expanding {
  p,
  span,
  p span,
  h2,
  h3,
  li,
  a:not(.nav-link) {
    transition: 0.25s all;
    color: $brand-color-light;
  }
  a:not(.nav-link):hover {
    color: lighten($brand-color-light, 50%);
  }
}

a.light-btn.hover {
  text-decoration: none;
  border: 2px solid $brand-color-light;
  padding: 1rem 2rem;
  &:hover {
    border: 2px solid #fff;
    background-color: #fff;
    color: $text-color;
  }
}

.text-larger {
  font-size: 1.3rem;
}

.no-margin-top {
  margin-top: 0rem;
}
