$header-font: 'Roboto Mono', monospace;
$small-header-font: 'Lato', sans-serif;
$text-font: 'Cultive Mono', monospace;

$text-color: #2a2a2a;
$brand-color: #420f8d;
$brand-color-light: #bb94f4;

$spacer: 1rem;
