---
// A button

const { classes } = Astro.props;

---

<button
  type="button"
  class:list={["flex flex-1 gap-x-2 items-center bg-white text-slate-700 px-3 py-2 rounded-md shadow-md font-space border-b-4 transition-colors transition-transform duration-200 !transform hover:-translate-y-0.5 hover:border-slate-500 hover:bg-slate-700 hover:text-white", classes]}
>
  <slot />
</button>
