---
import '../styles/global.css';
import NavBar from "../components/NavBar.vue";

---
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>maxemilians portfolio</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<style is:global>
		html {
			scroll-behavior: smooth;
		}
		body {
			@apply !px-0 py-6;
		}
		pre {
			padding: 1rem;
		}
		h1, h2, h3, h4, h5, h6 {
			@apply font-space;
		}
		section {
			@apply my-16;
		}
		.cont {
			@apply container mx-auto;
		}
	</style>
</head>
<body>
	<main>
		<NavBar client:only="vue" />
		<article class="article font-rubik">
			<slot />	
		</article>
	</main>
</body>
</html>
